/* green color scheme */

.red-color-scheme

.red-color-scheme .wpb_carousel .wpb_thumbnails-fluid li a.link_image:hover,
.red-color-scheme .wpb_teaser_grid ul .isotope-item a.link_image:hover,
.red-color-scheme .mobera-fastflickrwidget.widget a:hover,
.red-color-scheme .featured_apps_container .app-content-overlay {
	background-color: rgba(41,142,110, 0.7);
}

.red-color-scheme .sidr .current-menu-item a,
.red-color-scheme .sidr ul li:hover>a,
.red-color-scheme .sidr ul li:hover>span,
.red-color-scheme .sidr ul li.active>a,
.red-color-scheme .sidr ul li.active>span,
.red-color-scheme .sidr ul li.sidr-class-active>a,
.red-color-scheme .sidr ul li.sidr-class-active>span,
.red-color-scheme .sidr ul li ul li:hover>a,
.red-color-scheme .sidr ul li ul li:hover>span,
.red-color-scheme .sidr ul li ul li.active>a,
.red-color-scheme .sidr ul li ul li.active>span,
.red-color-scheme .sidr ul li ul li.sidr-class-active>a,
.red-color-scheme .sidr ul li ul li.sidr-class-active>span,
.red-color-scheme .mobera-contactform.widget .submitButton input[type=submit]:hover,
.red-color-scheme .mobera-contactform.widget .submitButton input[type=submit],
html .red-color-scheme .main-inner a.store_button,
.red-color-scheme .ac-device nav span:hover,
.red-color-scheme .wpcf7 .wpcf7-submit,
.red-color-scheme .wpcf7 .wpcf7-submit:hover,
.red-color-scheme .mp-menu .nav li.current-menu-ancestor > a,
.red-color-scheme .mp-menu .nav li.current-menu-parent > a,
.red-color-scheme .mp-menu .nav li.current-menu-item > a,
.red-color-scheme .mp-menu .nav li.current_page_item > a,
.red-color-scheme .mp-menu .nav li.current-menu-parent > a,
.red-color-scheme .mp-menu .nav li.dropdown:hover > a,
.red-color-scheme .mp-menu .current-menu-item a,
.red-color-scheme .mp-menu ul li a:hover,
.red-color-scheme .mp-level > ul > li:first-child > a:hover,
body.red-color-scheme .wpb_image_grid .wpb_image_grid_ul .isotope-item:hover,
.red-color-scheme .menu-container .sb-icon-search,
.red-color-scheme .main-body-color,
.red-color-scheme .page-wrapper .categories_filter li:hover a,
.red-color-scheme .page-wrapper .categories_filter li.active a,
body.red-color-scheme .wpb_content_element .wpb_tabs_nav li.ui-tabs-active a,
body.red-color-scheme .wpb_content_element .wpb_tabs_nav li:hover a,
.red-color-scheme .featured_apps_container .ui-tabs-active a,
.red-color-scheme .featured_apps_container ul li a:hover,
.red-color-scheme #commentform #submit,
body.red-color-scheme .theme-default .nivo-controlNav a.active,
body.red-color-scheme .theme-default .nivo-controlNav a:hover,
body.red-color-scheme .flex-control-paging li a:hover,
body.red-color-scheme .flex-control-paging li a.flex-active {
	background-color: #24a1af;
}

.red-color-scheme .sf-menu > .current-menu-item > a,
.red-color-scheme .sf-menu > .current-page-ancestor > a,
.red-color-scheme .sf-menu > .current-menu-ancestor > a,
.red-color-scheme .sf-menu > .current-page-parent > a,
.red-color-scheme .sf-menu > .current_page_ancestor > a,
.red-color-scheme .sf-menu > li > .sub-menu,
.red-color-scheme .sf-menu > li:hover > a,
.red-color-scheme .sf-menu > li.sfHover > a,
.red-color-scheme .social-container .social-icons div a,
.red-color-scheme .staff-member .social-icons div a {
	border-color: #24a1af;
}

.red-color-scheme .mobera-contactform.widget textarea:active,
.red-color-scheme .mobera-contactform.widget input[type=text]:active,
.red-color-scheme .mobera-contactform.widget input[type=email]:active,
.red-color-scheme .mobera-contactform.widget input[type="password"]:active,
.red-color-scheme .mobera-contactform.widget textarea:hover,
.red-color-scheme .mobera-contactform.widget input[type=text]:hover,
.red-color-scheme .mobera-contactform.widget input[type=email]:hover,
.red-color-scheme .mobera-contactform.widget input[type="password"]:hover,
.red-color-scheme .mobera-contactform.widget textarea:focus,
.red-color-scheme .mobera-contactform.widget input[type=text]:focus,
.red-color-scheme .mobera-contactform.widget input[type=email]:focus,
.red-color-scheme .mobera-contactform.widget input[type="password"]:focus,
.red-color-scheme .ac-device nav,
.red-color-scheme .ac-device nav span:first-child,
.red-color-scheme .wpcf7 textarea:active,
.red-color-scheme .wpcf7 input[type=text]:active,
.red-color-scheme .wpcf7 input[type="password"]:active,
.red-color-scheme .wpcf7 textarea:focus,
.red-color-scheme .wpcf7 input[type=text]:focus,
.red-color-scheme .wpcf7 input[type=email]:focus,
.red-color-scheme .wpcf7 input[type="password"]:focus,
.red-color-scheme .wpcf7 textarea:hover,
.red-color-scheme .wpcf7 input[type=text]:hover,
.red-color-scheme .wpcf7 input[type=email]:hover,
.red-color-scheme .wpcf7 input[type="password"]:hover,
.red-color-scheme .featured_apps_container ul li,
body.red-color-scheme .flex-control-paging li a,
body.red-color-scheme .theme-default .nivo-controlNav a,
.red-color-scheme #comments textarea:active,
.red-color-scheme #comments input[type=text]:active,
.red-color-scheme #comments input[type="password"]:active,
.red-color-scheme #comments textarea:focus,
.red-color-scheme #comments input[type=text]:focus,
.red-color-scheme #comments input[type="password"]:focus,
.red-color-scheme #comments textarea:hover,
.red-color-scheme #comments input[type=text]:hover,
.red-color-scheme #comments input[type=email]:hover,
.red-color-scheme #comments input[type="password"]:hover,
.red-color-scheme .page-wrapper .sidebar-right ul li:before,
.red-color-scheme .page-wrapper .main-inner ul li:before,
body.red-color-scheme .wpb_content_element .wpb_accordion_wrapper .ui-accordion-header-active,
body.red-color-scheme .wpb_content_element .wpb_accordion_wrapper .wpb_accordion_content,
.red-color-scheme .page-wrapper .categories_filter,
.red-color-scheme .wpb_content_element .wpb_tabs_nav,
.red-color-scheme .featured_apps_container ul,
.red-color-scheme .page-wrapper .categories_filter li,
body.red-color-scheme .wpb_content_element .wpb_tabs_nav li,
.red-color-scheme .mp-back:hover,
body.single-post.red-color-scheme .comment-form-email.focused:after,
body.single-post.red-color-scheme .comment-form-comment.focused:after,
body.single-post.red-color-scheme .comment-form-email.hovered:after,
body.single-post.red-color-scheme .comment-form-comment.hovered:after,
.red-color-scheme .wpcf7-form-control-wrap.focused:after,
.red-color-scheme .wpcf7-form-control-wrap.hovered:after {
	border-color: #24a1af !important;
}

.red-color-scheme .sidr .current-menu-item a,
.red-color-scheme .page-wrapper .bg-style-2 h1,
.red-color-scheme .page-wrapper .bg-style-3 h1,
.red-color-scheme .page-wrapper .bg-style-4 h1,
.red-color-scheme .page-wrapper .bg-style-5 h1,
.red-color-scheme .page-wrapper .bg-style-6 h1,
.red-color-scheme .page-wrapper .categories_filter li:hover a,
.red-color-scheme .page-wrapper .categories_filter li.active a,
body.red-color-scheme .wpb_content_element .wpb_tabs_nav li.ui-tabs-active a,
body.red-color-scheme .wpb_content_element .wpb_tabs_nav li:hover a,
.red-color-scheme .featured_apps_container .ui-tabs-active a,
.red-color-scheme .featured_apps_container ul li a:hover {
	color: #fff;
}

.red-color-scheme .sf-menu > .current-menu-item > a,
.red-color-scheme .sf-menu > .current-page-ancestor > a,
.red-color-scheme .sf-menu > .current-menu-ancestor > a,
.red-color-scheme .sf-menu > .current-page-parent > a,
.red-color-scheme .sf-menu > .current_page_ancestor > a,
.red-color-scheme .sf-menu > li > .sub-menu,
.red-color-scheme .sf-menu > li:hover > a,
.red-color-scheme .sf-menu > li.sfHover > a,
.red-color-scheme .sf-menu a:hover,
.red-color-scheme .sf-menu .current-menu-item a,
.red-color-scheme .sf-menu .current-page-ancestor > .sub-menu .current-menu-parent > a,
.red-color-scheme .sf-menu .current-menu-ancestor > .sub-menu .current-menu-parent > a,
.red-color-scheme .sf-menu .current-page-parent > .sub-menu .current-menu-parent > a,
.red-color-scheme .sf-menu .current_page_ancestor > .sub-menu .current-menu-parent > a,
.red-color-scheme .textwidget a::before,
.red-color-scheme .widget li a:hover,
.red-color-scheme .page-wrapper .widget h4,
.red-color-scheme .mobera-recentpostsplus.widget h3 a:hover,
.red-color-scheme .ac-device nav span,
.red-color-scheme .ac-device .ac-title,
.red-color-scheme .social-container .social-icons div a,
.red-color-scheme .staff-member .social-icons div a,
.red-color-scheme .page-wrapper h2,
.red-color-scheme h2,
.red-color-scheme .content .entry-title,
.red-color-scheme .teaser_grid_container .post-title,
.red-color-scheme .commentlist .comment-content .reply-edit-container .reply a,
.red-color-scheme .commentlist .comment-content .reply-edit-container .edit-link a,
.red-color-scheme .page-wrapper .categories_filter li a,
body.red-color-scheme .wpb_content_element .wpb_tour_tabs_wrapper .wpb_tabs_nav a,
body.red-color-scheme .wpb_content_element .wpb_accordion_header a,
.red-color-scheme .featured_apps_container ul li a,
.red-color-scheme .page-wrapper h3,
.red-color-scheme .page-wrapper > .page-title h1,
.red-color-scheme .cocoa-color-scheme a,
.red-color-scheme .cocoa-color-scheme .dropcap,
.red-color-scheme .recent-activities .info-container .item-link,
.red-color-scheme .blog-carousel .blog-inner-container .blog-title a,
.red-color-scheme .wrapper .reviewer,
.red-color-scheme .wrapper .prev_blog_post,
.red-color-scheme .wrapper .next_blog_post,
.red-color-scheme .single-listing-by-main.skydirectory .share-location {
	color: #666666;
}

.red-color-scheme .google-map-title a,
.red-color-scheme .gdmodal-title span {
	color: #ff6600;
}

.red-color-scheme .wrapper .top-menu-container .header-menu > li.current-menu-item > a,
.red-color-scheme .wrapper .top-menu-container .header-menu > li.current-menu-ancestor > a,
.red-color-scheme .wrapper .top-menu-container .header-menu > li.current-menu-parent > a {
	border-top: 4px solid #999;
}

.red-color-scheme .wrapper .top-menu-container .header-menu li.menu-item-has-children ul li a:hover {
	background-color: #999;
}

.red-color-scheme .wpb_button.wpb_btn-primary,
body.single-post.red-color-scheme #commentform .form-submit #submit {
	background: -webkit-linear-gradient(#666666, #404040);
	background: -o-linear-gradient(#666666, #404040);
	background: -moz-linear-gradient(#666666, #404040);
	background: linear-gradient(#666666, #404040);

}

.red-color-scheme .wpb_button.wpb_btn-primary:hover,
body.single-post.red-color-scheme #commentform .form-submit #submit:hover {
	background: -webkit-linear-gradient(#404040, #666666);
	background: -o-linear-gradient(#404040, #666666);
	background: -moz-linear-gradient(#404040, #666666);
	background: linear-gradient(#404040, #666666);
}

.red-color-scheme .wpb_button.wpb_btn-primary:active,
body.single-post.red-color-scheme #commentform .form-submit #submit:active {
	background: -webkit-linear-gradient(#333333, #333333);
	background: -o-linear-gradient(#333333, #333333);
	background: -moz-linear-gradient(#333333, #333333);
	background: linear-gradient(#333333, #333333);
}

.red-color-scheme .wpb_button.wpb_btn-primary.clearfix:active,
body.single-post.red-color-scheme #commentform .form-submit #submit:active,
body.red-color-scheme .wpb_button.wpb_btn-primary.input_button.wpcf7-submit:active {
	border-bottom: 4px solid #333;
	border-top: 4px solid #222;
}

.red-color-scheme .wpb_button.wpb_btn-warning,
.red-color-scheme .contact-us-email .email-address {
	background: -webkit-linear-gradient(#339933, #007f00);
	background: -o-linear-gradient(#339933, #007f00);
	background: -moz-linear-gradient(#339933, #007f00);
	background: linear-gradient(#339933, #007f00);
}

.red-color-scheme .wpb_button.wpb_btn-warning:hover {
	background: -webkit-linear-gradient(#007f00, #339933);
	background: -o-linear-gradient(#007f00, #339933);
	background: -moz-linear-gradient(#007f00, #339933);
	background: linear-gradient(#007f00, #339933);
}

.red-color-scheme #geodir-add-listing-submit input {
	border-bottom: 4px solid #006200;
	border-top: 4px solid #329832;
}

.red-color-scheme #geodir-add-listing-submit input:hover {
	border-bottom: 4px solid #329832;
	border-top: 4px solid #226522;
}

.red-color-scheme #geodir-add-listing-submit input:active {
	background: -webkit-linear-gradient(#226222, #226222);
	background: -o-linear-gradient(#226222, #226222);
	background: -moz-linear-gradient(#226222, #226222);
	background: linear-gradient(#226222, #226222);
	border-bottom: 4px solid #226222;
	border-top: 4px solid #1c501c;
}

.red-color-scheme .recent-activities .info-container .item-author,
.red-color-scheme .blog-author .author-name a,
.red-color-scheme .useful-links-title,
.red-color-scheme .phone-info-container .phone-text,
.red-color-scheme .phone-info-container .phone-number,
.red-color-scheme .single-listing-by-info .author-name a {
	color: #0099cc;
}

.red-color-scheme .add-review-container span {
	color: #333;
}

.red-color-scheme .blogpost-usefullinks.widget a,
.red-color-scheme .custom-table-container .custom-table-description {
	color: #666;
}

.red-color-scheme .contact-us-phone .phone-icon {
	background-color: #009c8b;
}

.red-color-scheme .wrapper h3,
.red-color-scheme h2.wpb_gallery_heading,
.red-color-scheme .wrapper .sidebar-inner .item-title-bg h4,
.red-color-scheme.single-gd_place .recent-activities .info-container .item-link,
body.red-color-scheme .wrapper .page_info .page-title h1 {
	color: #000;
}

.red-color-scheme #commentform .form-submit #submit,
body.red-color-scheme .simplemodal-data .gmmodal-dialog-lower input,
body.single-post.red-color-scheme #commentform .form-submit #submit,
.red-color-scheme .wpb_button.wpb_btn-primary.input_button.wpcf7-submit,
body.red-color-scheme .wrapper .geodir_publish_button {
	border-top: 4px solid #666666;
	border-bottom: 4px solid #363636;
}

.red-color-scheme #commentform .form-submit #submit:hover,
body.red-color-scheme .simplemodal-data .gmmodal-dialog-lower input:hover,
body.single-post.red-color-scheme #commentform .form-submit #submit:hover,
.red-color-scheme .wpb_button.wpb_btn-primary.input_button.wpcf7-submit:hover,
body.red-color-scheme .wrapper .geodir_publish_button:hover {
	border-top: 4px solid #353535;
	border-bottom: 4px solid #656565;
}

.red-color-scheme .featured-properties-container.rent .item-title a,
.red-color-scheme .popular-destinations-container.rent .item-title a {
	color: #339933;
}

.red-color-scheme .featured-properties-container.rent .item-view a,
.red-color-scheme .popular-destinations-container.rent .item-view a {
	background: -webkit-linear-gradient(#339933, #007f00);
	background: -o-linear-gradient(#339933, #007f00);
	background: -moz-linear-gradient(#339933, #007f00);
	background: linear-gradient(#339933, #007f00);
}

.red-color-scheme .featured-properties-container.rent .item-view a:hover,
.red-color-scheme .popular-destinations-container.rent .item-view a:hover {
	background: -webkit-linear-gradient(#007f00, #339933);
	background: -o-linear-gradient(#007f00, #339933);
	background: -moz-linear-gradient(#007f00, #339933);
	background: linear-gradient(#007f00, #339933);
}

.red-color-scheme .featured-properties-container.sale .item-view a,
.red-color-scheme .popular-destinations-container.sale .item-view a {
	background: -webkit-linear-gradient(#ff6600, #ff4100);
	background: -o-linear-gradient(#ff6600, #ff4100);
	background: -moz-linear-gradient(#ff6600, #ff4100);
	background: linear-gradient(#ff6600, #ff4100);
}

.red-color-scheme .featured-properties-container.sale .item-view a:hover,
.red-color-scheme .popular-destinations-container.sale .item-view a:hover {
	background: -webkit-linear-gradient(#ff4100, #ff6600);
	background: -o-linear-gradient(#ff4100, #ff6600);
	background: -moz-linear-gradient(#ff4100, #ff6600);
	background: linear-gradient(#ff4100, #ff6600);
}


.red-color-scheme .featured-properties-container.sale .featured-properties-image .listing-price {
	background: rgba(236, 106, 0, 0.9);
}

.red-color-scheme .ui-slider-handle.ui-state-default {
	background: rgba(102, 102, 102, 0.8);
}

.red-color-scheme .ui-slider-horizontal .ui-slider-range {
	background: rgb(102, 102, 102);
}

.red-color-scheme .checkbox_box {
	border: none;
	background: #ccc;
}

.red-color-scheme .checkbox_box.checked {
	border: none;
	background-color: #666;
}

.red-color-scheme .radiobutton.checked {
	background-color: #666;
	border-color: #666;
}

.red-color-scheme .ui-slider-handle.ui-state-active {
	background: rgba(0, 153, 0, 0.8);
}

.red-color-scheme .ui-slider-horizontal .ui-slider-range.ui-active {
	background: rgba(0, 153, 0, 1);
}

body.red-color-scheme .wrapper #propertyform .geodir_package.free .geodir-select-package {
	background: -webkit-linear-gradient(#ff6600, #ff4200);
	background: -o-linear-gradient(#ff6600, #ff4200);
	background: -moz-linear-gradient(#ff6600, #ff4200);
	background: linear-gradient(#ff6600, #ff4200);
}

body.red-color-scheme .wrapper #propertyform .geodir_package.free .geodir-select-package:hover {
	border-bottom: 4px solid #ff6600;
	border-top: 4px solid #cc3400;
	background: -webkit-linear-gradient(#ff4200, #ff6600);
	background: -o-linear-gradient(#ff4200, #ff6600);
	background: -moz-linear-gradient(#ff4200, #ff6600);
	background: linear-gradient(#ff4200, #ff6600);
}

body.red-color-scheme .wrapper #propertyform .geodir_package.free .geodir-select-package:active {
	border-bottom: 4px solid #993800;
	border-top: 4px solid #cc3400;
	background: -webkit-linear-gradient(#993800, #993800);
	background: -o-linear-gradient(#993800, #993800);
	background: -moz-linear-gradient(#993800, #993800);
	background: linear-gradient(#993800, #993800);
}