/* yellow color scheme */

.yellow-color-scheme .wpb_carousel .wpb_thumbnails-fluid li a.link_image:hover,
.yellow-color-scheme .wpb_teaser_grid ul .isotope-item a.link_image:hover,
.yellow-color-scheme .mobera-fastflickrwidget.widget a:hover,
.yellow-color-scheme .featured_apps_container .app-content-overlay {
	background-color: rgba(237, 201, 81, 0.7);
}

.yellow-color-scheme .sidr .current-menu-item a,
.yellow-color-scheme .sidr ul li:hover>a,
.yellow-color-scheme .sidr ul li:hover>span,
.yellow-color-scheme .sidr ul li.active>a,
.yellow-color-scheme .sidr ul li.active>span,
.yellow-color-scheme .sidr ul li.sidr-class-active>a,
.yellow-color-scheme .sidr ul li.sidr-class-active>span,
.yellow-color-scheme .sidr ul li ul li:hover>a,
.yellow-color-scheme .sidr ul li ul li:hover>span,
.yellow-color-scheme .sidr ul li ul li.active>a,
.yellow-color-scheme .sidr ul li ul li.active>span,
.yellow-color-scheme .sidr ul li ul li.sidr-class-active>a,
.yellow-color-scheme .sidr ul li ul li.sidr-class-active>span,
.yellow-color-scheme .mobera-contactform.widget .submitButton input[type=submit]:hover,
.yellow-color-scheme .mobera-contactform.widget .submitButton input[type=submit],
html .yellow-color-scheme .main-inner a.store_button,
.yellow-color-scheme .ac-device nav span:hover,
.yellow-color-scheme .wpcf7 .wpcf7-submit,
.yellow-color-scheme .wpcf7 .wpcf7-submit:hover,
.yellow-color-scheme .mp-menu .nav li.current-menu-ancestor > a,
.yellow-color-scheme .mp-menu .nav li.current-menu-parent > a,
.yellow-color-scheme .mp-menu .nav li.current-menu-item > a,
.yellow-color-scheme .mp-menu .nav li.current_page_item > a,
.yellow-color-scheme .mp-menu .nav li.current-menu-parent > a,
.yellow-color-scheme .mp-menu .nav li.dropdown:hover > a,
.yellow-color-scheme .mp-menu .current-menu-item a,
.yellow-color-scheme .mp-menu ul li a:hover,
.yellow-color-scheme .mp-level > ul > li:first-child > a:hover,
body.yellow-color-scheme .wpb_image_grid .wpb_image_grid_ul .isotope-item:hover,
.yellow-color-scheme .menu-container .sb-icon-search,
.yellow-color-scheme .main-body-color,
.yellow-color-scheme .page-wrapper .categories_filter li:hover a,
.yellow-color-scheme .page-wrapper .categories_filter li.active a,
body.yellow-color-scheme .wpb_content_element .wpb_tabs_nav li.ui-tabs-active a,
body.yellow-color-scheme .wpb_content_element .wpb_tabs_nav li:hover a,
.yellow-color-scheme .featured_apps_container .ui-tabs-active a,
.yellow-color-scheme .featured_apps_container ul li a:hover,
.yellow-color-scheme #commentform #submit,
body.yellow-color-scheme .theme-default .nivo-controlNav a.active,
body.yellow-color-scheme .theme-default .nivo-controlNav a:hover,
body.yellow-color-scheme .flex-control-paging li a:hover,
body.yellow-color-scheme .flex-control-paging li a.flex-active {
	background-color: #edc951;
}

.yellow-color-scheme .sf-menu > .current-menu-item > a,
.yellow-color-scheme .sf-menu > .current-page-ancestor > a,
.yellow-color-scheme .sf-menu > .current-menu-ancestor > a,
.yellow-color-scheme .sf-menu > .current-page-parent > a,
.yellow-color-scheme .sf-menu > .current_page_ancestor > a,
.yellow-color-scheme .sf-menu > li > .sub-menu,
.yellow-color-scheme .sf-menu > li:hover > a,
.yellow-color-scheme .sf-menu > li.sfHover > a,
.yellow-color-scheme .social-container .social-icons div a,
.yellow-color-scheme .staff-member .social-icons div a {
	border-color: #edc951;
}

.yellow-color-scheme .mobera-contactform.widget textarea:active,
.yellow-color-scheme .mobera-contactform.widget input[type=text]:active,
.yellow-color-scheme .mobera-contactform.widget input[type=email]:active,
.yellow-color-scheme .mobera-contactform.widget input[type="password"]:active,
.yellow-color-scheme .mobera-contactform.widget textarea:hover,
.yellow-color-scheme .mobera-contactform.widget input[type=text]:hover,
.yellow-color-scheme .mobera-contactform.widget input[type=email]:hover,
.yellow-color-scheme .mobera-contactform.widget input[type="password"]:hover,
.yellow-color-scheme .mobera-contactform.widget textarea:focus,
.yellow-color-scheme .mobera-contactform.widget input[type=text]:focus,
.yellow-color-scheme .mobera-contactform.widget input[type=email]:focus,
.yellow-color-scheme .mobera-contactform.widget input[type="password"]:focus,
.yellow-color-scheme .ac-device nav,
.yellow-color-scheme .ac-device nav span:first-child,
.yellow-color-scheme .wpcf7 textarea:active,
.yellow-color-scheme .wpcf7 input[type=text]:active,
.yellow-color-scheme .wpcf7 input[type="password"]:active,
.yellow-color-scheme .wpcf7 textarea:focus,
.yellow-color-scheme .wpcf7 input[type=text]:focus,
.yellow-color-scheme .wpcf7 input[type=email]:focus,
.yellow-color-scheme .wpcf7 input[type="password"]:focus,
.yellow-color-scheme .wpcf7 textarea:hover,
.yellow-color-scheme .wpcf7 input[type=text]:hover,
.yellow-color-scheme .wpcf7 input[type=email]:hover,
.yellow-color-scheme .wpcf7 input[type="password"]:hover,
.yellow-color-scheme .featured_apps_container ul li,
body.yellow-color-scheme .flex-control-paging li a,
body.yellow-color-scheme .theme-default .nivo-controlNav a,
.yellow-color-scheme #comments textarea:active,
.yellow-color-scheme #comments input[type=text]:active,
.yellow-color-scheme #comments input[type="password"]:active,
.yellow-color-scheme #comments textarea:focus,
.yellow-color-scheme #comments input[type=text]:focus,
.yellow-color-scheme #comments input[type="password"]:focus,
.yellow-color-scheme #comments textarea:hover,
.yellow-color-scheme #comments input[type=text]:hover,
.yellow-color-scheme #comments input[type=email]:hover,
.yellow-color-scheme #comments input[type="password"]:hover,
.yellow-color-scheme .page-wrapper .sidebar-right ul li:before,
.yellow-color-scheme .page-wrapper .main-inner ul li:before,
body.yellow-color-scheme .wpb_content_element .wpb_accordion_wrapper .ui-accordion-header-active,
body.yellow-color-scheme .wpb_content_element .wpb_accordion_wrapper .wpb_accordion_content,
.yellow-color-scheme .page-wrapper .categories_filter,
.yellow-color-scheme .wpb_content_element .wpb_tabs_nav,
.yellow-color-scheme .featured_apps_container ul,
.yellow-color-scheme .page-wrapper .categories_filter li,
body.yellow-color-scheme .wpb_content_element .wpb_tabs_nav li,
.yellow-color-scheme .mp-back:hover {
	border-color: #edc951 !important;
}

.yellow-color-scheme .sidr .current-menu-item a,
.yellow-color-scheme .page-wrapper .bg-style-2 h1,
.yellow-color-scheme .page-wrapper .bg-style-3 h1,
.yellow-color-scheme .page-wrapper .bg-style-4 h1,
.yellow-color-scheme .page-wrapper .bg-style-5 h1,
.yellow-color-scheme .page-wrapper .bg-style-6 h1,
.yellow-color-scheme .page-wrapper .categories_filter li:hover a,
.yellow-color-scheme .page-wrapper .categories_filter li.active a,
body.yellow-color-scheme .wpb_content_element .wpb_tabs_nav li.ui-tabs-active a,
body.yellow-color-scheme .wpb_content_element .wpb_tabs_nav li:hover a,
.yellow-color-scheme .featured_apps_container .ui-tabs-active a,
.yellow-color-scheme .featured_apps_container ul li a:hover {
	color: #fff;
}

.yellow-color-scheme .sf-menu > .current-menu-item > a,
.yellow-color-scheme .sf-menu > .current-page-ancestor > a,
.yellow-color-scheme .sf-menu > .current-menu-ancestor > a,
.yellow-color-scheme .sf-menu > .current-page-parent > a,
.yellow-color-scheme .sf-menu > .current_page_ancestor > a,
.yellow-color-scheme .sf-menu > li > .sub-menu,
.yellow-color-scheme .sf-menu > li:hover > a,
.yellow-color-scheme .sf-menu > li.sfHover > a,
.yellow-color-scheme .sf-menu a:hover,
.yellow-color-scheme .sf-menu .current-menu-item a,
.yellow-color-scheme .sf-menu .current-page-ancestor > .sub-menu .current-menu-parent > a,
.yellow-color-scheme .sf-menu .current-menu-ancestor > .sub-menu .current-menu-parent > a,
.yellow-color-scheme .sf-menu .current-page-parent > .sub-menu .current-menu-parent > a,
.yellow-color-scheme .sf-menu .current_page_ancestor > .sub-menu .current-menu-parent > a,
.yellow-color-scheme .textwidget a::before,
.yellow-color-scheme .widget li a:hover,
.yellow-color-scheme .page-wrapper .widget h4,
.yellow-color-scheme .wrapper .sidebar-inner .item-title-bg h4,
.yellow-color-scheme .mobera-recentpostsplus.widget h3 a:hover,
.yellow-color-scheme .ac-device nav span,
.yellow-color-scheme .ac-device .ac-title,
.yellow-color-scheme .page-wrapper h1,
.yellow-color-scheme .social-container .social-icons div a,
.yellow-color-scheme .staff-member .social-icons div a,
.yellow-color-scheme .page-wrapper h2,
.yellow-color-scheme h2,
.yellow-color-scheme .content .entry-title,
.yellow-color-scheme .teaser_grid_container .post-title,
.yellow-color-scheme .commentlist .comment-content .reply-edit-container .reply a,
.yellow-color-scheme .commentlist .comment-content .reply-edit-container .edit-link a,
html .yellow-color-scheme .main-inner a:not([class^="icon-"]):not(.no_before)::before,
.yellow-color-scheme .page-wrapper .categories_filter li a,
body.yellow-color-scheme .wpb_content_element .wpb_tour_tabs_wrapper .wpb_tabs_nav a,
body.yellow-color-scheme .wpb_content_element .wpb_accordion_header a,
.yellow-color-scheme .featured_apps_container ul li a,
.yellow-color-scheme .page-wrapper h3,
.yellow-color-scheme .page-wrapper > .page-title h1,
.yellow-color-scheme .cocoa-color-scheme a,
.yellow-color-scheme .cocoa-color-scheme .dropcap {
	color: #edc951;
}